.mySlides {
    display: none;
}

  
body,html {
    background-color: rgb(5, 0, 0);
    font-family: Verdana, sans-serif;
    height: 100%;
    margin: 0;
}
.background-img
{
    height: 100%;
    background-image: url('b2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: auto;
}
.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 19px;
    font-weight: bolder;
}
  
.data-container {
    width: 1000px;
    height: 384px;
    position: relative;
    margin: 0 auto;
    display: flex;
}
  
.bar {
    width: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: turquoise;
    transition: 0.1s all ease;
}
.bub {
    width: 30px;
    height: 25px;
    padding: 12px;
    font-weight: bolder;
    left: 0;
    bottom: 0;
    background-color: turquoise;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
  
.bar__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}

.bub__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}
.btn1 {
    padding: 12px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    margin-left: 30vw;
    margin-top: 4vw;
    margin-right: 1vw;
}
.btn2 {
    padding: 12px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.btn3 {
    padding: 12px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.btn5 {
    padding: 12px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
.btn4 {
    padding: 12px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.btn6 {
    margin-top: 50px;
    padding: 12px;
    height: 50px;
    font-weight: bolder;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  /* Twitter */
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  